* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.first {
    background:#1F2937;
    color: white;
    height: 500px;
}

.first > div > h1, .links {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.links {
    display: flex;
    gap: 30px;
}



.image-container {
    border: 1px solid silver;
    background: silver;
    height: 250px;
    width: 500px;
}

.image-container > p{
    text-align: center;
    margin-top: 20%;
}

.contain {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.h2{
margin-left: 100px;
}

.contain > .h2 > p {
    width: 50%;
}

.h2 > h2, p, button{
    padding: 15px;
}

.h2 > button {
    width: 20%;
    background: #3882F6;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

/* Finish styling the first section*/

.second {
    height: 500px;
}

.second >.h3 >h3 {
    text-align: center;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    padding: 20px;
    font-weight: 900;
}

.image-illustration {
    display: flex;
    justify-content: center;
}

.image-illustration > div > p{
    width: 79%;
}

.illustration {
    border: 6px solid #3882F6;
    border-radius: 8px;
    width: 300px;
    height: 250px;
}

/* Complete styling the second section */

.third {
    background: silver;
    height: 200px;
}

.third > div > p{
    font-size: 25px;
    padding: 20px;
}

.span {
    float: right;
    font-weight: bolder;
    font-size: 30px;
}

/* complete third section*/

.fourth {
    height: 200px;
    padding: 30px;
}

.signup {
    border: 3px solid #3882F6;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background: #3882F6;
    color: white;
}

.signup > div> button {
    width: 150%;
    color: white;
    background: #3882F6;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 5px;
}

/* The fourth section */

.footer {
    background: #1F2937;
    height: 150px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 20px;
    font-weight: 500;
}